[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    django-not-configured,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-positional-arguments

[DESIGN]
max-args=10


[TYPECHECK]
ignored-modules=dlt,pyspark.dbutils